/*      Body Styles         */
body {
    background-image: url('../img/main_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
    transition: background 0.8s ease-in-out;
}

/*      Main Container Styles       */
.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/*      Main Title Styles          */
.main-title {
    width: 400px;
    height: auto;
    padding-top: 150px;
}


/*      Start Btn Styles        */
.start-btn {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    border: none;
}
.start-btn img {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.start-btn:hover img {
    transform: scale(1.1);
}


/*      Hidden Class Styles        */
.hidden {
    display: none !important;
}


/*      Intro Girl Styles       */
#introGirl {
    position: absolute;
    bottom: 20px;
    left: 50px;
    max-height: 400px;
    width: auto;
    object-fit: contain;
}

/*      Intro Image Styles      */
#intro {
    position: absolute;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}
.introduction-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}
#introduction {
    flex: 1;
    display: flex;
    margin-top: 70px;
}
#introImage {
    flex: 1;
    display: flex;
}